# my-project/docker-compose.yml
version: '3.8'

services:
  backend:
    build: ./my-backend
    container_name: nest-backend
    ports:
      - "3000:3000"
    env_file:
      - ./my-backend/.env
    environment:
      - ELASTICSEARCH_NODE=http://elasticsearch:9200
    restart: unless-stopped

  frontend:
    build: ./my-frontend
    container_name: react-frontend
    ports:
      - "3001:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true  
    depends_on:
      - backend
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    restart: unless-stopped
